.component-carousel {
  max-width: 70%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.component-carousel .scrool {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.component-carousel .left {
  transform: rotate(180deg);
}


.carousel {
  display: flex;
  align-items: center;
  overflow: auto;
  scroll-behavior: smooth;
}

.carousel::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 750px) {
  .component-carousel {
    max-width: 100%;
  }

  .component-carousel .left img{
    width: 40px;
  }

  .component-carousel .right img{
    width: 40px;
  }
}